<div class="container mt-5" style="max-width: 400px;">
  <div class="card form-card">
    <div class="card-body">

      <h3 class="text-center mb-4">プロフィール編集</h3>

      <%= form_with model: @user do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

        <div class="mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>

          <%= f.label :email_address %>
          <%= f.text_field :email_address, class: "form-control" %>

          <%= f.label :profile_image %>
          <%= f.file_field :profile_image, accept: "image/*", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.submit "保存", class: "btn btn-outline-primary btn-hover" %>
        </div>

      <% end %>

    </div>
  </div>
</div>