<div class="row">
  <div class="col-md-3">
    <%= render "layouts/sidebar" %>
  </div>

  <div class="col-md-9">
    <div class="container mt-4">

      <!-- ユーザー情報 -->
      <%= render "users/info", user: @user %>

      <!-- 参加中コミュニティ一覧 -->
      <%= render "users/joined_communities", user: @user %>

      <!-- いいね一覧 -->
      <%= render "favorites/list", posts: @favorite_posts %>

      <div class="my-4">
        <% if @user == Current.user %>
          <%= link_to "退会する", user_path(Current.user), data: { turbo_method: :delete, turbo_confirm: "本当に退会しますか？" }, class: "btn btn-outline-danger btn-hover" %>
        <% end %>
      </div>

    </div>
  </div>

</div>