<h1>運動分類新規作成</h1>

<%= form_with model: @community do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <h5>運動分類</h5>
  <%= f.text_field :name %>

  <h5>説明文</h5>
  <%= f.text_area :body %>

  <br>
  <%= f.submit '作成', class: "btn btn-outline-primary btn-hover" %>
<% end %>