<div class="container mt-5" style="max-width: 500px;">
  <div class="card form-card">
    <div class="card-body">

      <h3 class="text-center mb-4">コミュニティ新規作成</h3>

      <%= form_with model: @community do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

        <div class="mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>

          <%= f.label :body %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.submit '作成', class: "btn btn-outline-primary btn-hover" %>
        </div>

      <% end %>

    </div>
  </div>
</div>