<div class="row">
  <div class="col-md-3">
    <%= render "layouts/sidebar" %>
  </div>

  <div class="col-md-9">
    <div class="container mt-4">

      <!-- コミュニティ詳細エリア -->
      <%= render "communities/info", community: @community %>

      <!-- 検索エリア -->
      <%= render "communities/search_posts_form", community: @community %>

      <% if params[:keyword].present? %>
        <p class="mb-3">「<strong><%= params[:keyword] %></strong>」の検索結果</p>
      <% end %>

      <!-- 投稿エリア -->
      <h5 class="mb-3">投稿一覧</h5>
      <%= render "posts/posts", posts: @posts %>

      <%= link_to "投稿する", new_community_post_path(@community), class: "btn btn-outline-primary btn-hover" %>
    </div>
  </div>
</div>